.container-fluid {
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(34, 34, 34);
  padding: 10px;
}

.grid-container > div {
  background-color: black;
  padding: 12px 0;
  text-align: center;
  font-size: 20px;
}

.item1 {
  grid-area: 3 / 2 / span 62 / span 3;
  max-width: 100%;
  color:white;
}

.item2 {
  grid-area: 1 / 1 / span 1 / span 4;
  max-width: 100%;
  color:white;
}

.item3 {
  grid-area: 2 / 1 / span 63 / span 1;
  max-width: 100%;
  color:white;
}

.item4, .item5, .item6 {
  color: white;
}

.App {
  padding-top: 50px;
  margin: 0px;
  padding: 0px;
  color: black;
  overflow-x: hidden;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
}

html, body:focus{
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;    
  height: 100%;
  position: absolute;
  left: 0;
}
.Auth-form-container {
  justify-content: center;
  align-items: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgba(117, 112, 112, 0.5) 10px 10px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  background-color: white;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
