.container-fluid {
  background-color: rgb(0, 0, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(34, 34, 34);
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

.login-error {
  text-align: center;
  color: red;
  background-color: rgb(255, 161, 161);
  border-radius: 15px;
}
.item1 {
  grid-area: 2 / 2 / span 59 / span 3;
  max-width: 100%;
  color: white;
}

.item2 {
  grid-area: 1 / 1 / span 1 / span 4;
  max-width: 100%;
  color: white;
}

.item3 {
  grid-area: 12 / 1 / span 49 / span 1;
  max-width: 100%;
  color: white;
}

.item4 {
  grid-area: 2 / 1 / span 10 / span 1;
  color: white;
}
.item6left {
  color: white;
  grid-area: 2 / 2 / span 10 / span 1;
}
.item6 {
  color: white;
  grid-area: 2 / 3 / span 10 / span 1;
}
.item7 {
  grid-area: 2 / 4 / span 10 / span 1;
  color: white;
}

.itemnav {
  grid-area: 1 / 1 / span 1 / span 6;
}

.itemrest {
  grid-area: 2 / 1 / span 65 / span 1;
  color: white;
}

.itemleft {
  grid-area: 2 / 1 / span 65 / span 6;
  color: white;
}

.itemright {
  grid-area: 2 / 2 / span 65 / span 5;
  color: white;
}

.itemtop {
  grid-area: 2 / 2 / span 57 / span 5;
  color: white;
}
.itemchat {
  background-color: green;
  grid-area: 59 / 2 / span 8 / span 5;
  color: white;
}
.button1 {
  border: solid;
  background: white;
  box-shadow: none;
  border-radius: 10px;
  padding: 0px;
  border-width: 1px;
  border-color: white;
  border-radius: 100%;
  margin: 5px;
  width: 35px;
  height: 35px;
}

.button2 {
  border: solid;
  background: white;
  box-shadow: none;
  border-radius: 10px;
  padding: 0px;
  border-width: 1px;
  border-color: white;
  border-radius: 100%;
  margin: 5px;
  width: 35px;
  height: 35px;
}

.App {
  padding-top: 50px;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

html,
body:focus {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.Auth-form-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.connectionLabel {
  text-align: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgba(117, 112, 112, 0.5) 10px 10px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.form-group {
  padding-left: 20px;
  align-items: left;
  width: 350px;
}

.search-group {
    width: 400px;
}

.settingsForm {
  width: 300px;
}
.Auth-form-content {
  padding-left: 10%;
  padding-right: 12%;
  background-color: white;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ProfileImage {
  width: 20%;
  margin-top: 3%;
  margin-left: 3%;
}

.rowProfile {
  display: flex;
  border: 10px;
}

.columnProfile {
  padding: 20px;
  flex: 50%;
  background-color: rgb(6, 223, 17);
}

.parentSett {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.delete {
  margin-top: 500px;
}

.remove-song {
  color: white;
  font-size: 25px;
}

.input {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;

}
